/* Home.css */

.home-container {
    background: #ffffff;
  }
  
  .header {
    background: #ffffff;
    color: #ffffff;
    padding: 100px 0;
    text-align: center;
  }
  
  .header-title {
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    background: rgb(63,94,251);
    -webkit-background-clip: text;
    color: transparent;  
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .header-subtitle {
    font-size: 24px;
  }
  
  .presentation {
    background: rgb(252, 252, 252);
    padding: 50px 0;
    text-align: center;
  }
  
  .presentation-title {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .presentation-text {
    font-size: 18px;
  }
  
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }


.my-photo {
    max-width: 30%; /* Ajusta el tamaño de la imagen según tus necesidades */
    display: block; 
    margin: 0 auto; 
  }
  
  